.wrapper {
  position: relative;
  width: 520px;
  height: 420px;
  margin: 0 auto;
  margin-top: 100px;
}

/* CENTER */
.center {
  position: absolute;
  inset: 0;
  margin: auto;
  width: 440px;
  height: 440px;
  border-radius: 50%;
  background: #ffc760;
  display: flex;
  justify-content: center;
  align-items: center;
  animation: float 5s ease-in-out infinite;
}

.center-img {
  width: 300px;
  margin-top: -50px;
  margin-right: -30px;
  border-radius: 50%;
  transition:
    opacity 0.4s ease,
    transform 0.4s ease;
}

/* BUBBLES */
.bubble {
  position: absolute;
  width: 150px;
  height: 150px;
  border-radius: 50%;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #ff9f43;
  transition: 0.5s ease-in-out;
  animation: float 6s ease-in-out infinite;
}

.bubble .heading {
  position: absolute;
  bottom: -28px;
  width: 200px;
  font-size: 45px;
  font-weight: 900;
  opacity: 0;
  transition: 0.3s;
  color: rgb(122, 57, 11);
  text-shadow:
    5px 5px 5px white,
    0 0 1em white,
    0 0 0.2em white;
}

.bubble .h1 {
  left: 72%;
  top: 77px;
}
.bubble .h2 {
  right: 40%;
  top: 67%;
  width: 300px;
}
.bubble .h3 {
  right: 50%;
  top: 47%;
  width: 300px;
}
.bubble .h4 {
  left: 80%;
  top: 27%;
  width: 300px;
}

.bubble:hover .heading {
  opacity: 1;
}

.bubble svg {
  width: 240px;
  height: 240px;
  opacity: 0;
  transform: scale(0.7);
  transition:
    opacity 0.4s ease,
    transform 0.4s ease;
}

.bubble:hover svg {
  opacity: 1;
  transform: scale(1);
}

.bubble:hover {
  transform: scale(1.5);
  height: 200px;
  width: 200px;
  background-color: #93e190;
}

/* POSITIONS */
.b1 {
  top: -20px;
  left: -150px;
  background: #ff9f43;
}
.b2 {
  top: -80px;
  right: -90px;
  height: 120px;
  width: 120px;
}
.b3 {
  bottom: 80px;
  right: -190px;
  height: 190px;
  width: 190px;
}
.b4 {
  bottom: -10px;
  left: -90px;
}

.small {
  position: absolute;
  border-radius: 50%;
  background: #ffd166;
  opacity: 0.8;
  animation: float 3s ease-in-out infinite;
}

.s1 {
  width: 60px;
  height: 60px;
  top: -30px;
  left: 0;
}
.s2 {
  width: 110px;
  height: 110px;
  top: 190px;
  left: -180px;
  animation-delay: 1s;
}
.s3 {
  width: 10px;
  height: 10px;
  bottom: 60px;
  left: 160px;
  animation-delay: 2s;
}
.s4 {
  width: 110px;
  height: 110px;
  bottom: 20px;
  right: -40px;
  animation-delay: 3s;
}
.s5 {
  width: 50px;
  height: 50px;
  top: 20%;
  right: -10%;
  animation-delay: 1s;
}
.s6 {
  width: 50px;
  height: 50px;
  top: -25%;
  right: 45%;
  animation-delay: 2s;
  z-index: -1;
}
.s7 {
  width: 50px;
  height: 50px;
  bottom: 0;
  right: -25%;
  animation-delay: 2s;
}
.s8 {
  width: 50px;
  height: 50px;
  left: 40%;
  bottom: -20%;
  animation-delay: 2s;
}

@keyframes float {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-20px);
  }
  100% {
    transform: translateY(0);
  }
}
.header-text {
  display: flex;
  flex-direction: column;
}
.header-p {
  color: var(--text-logo);
  padding: 0 20px;
  margin-bottom: -20px;
}
.header-h {
  width: 550px;
  font-size: 45px;
  font-weight: 900;
  color: rgb(122, 57, 11);
  line-height: 1;
  padding: 20px;
}

@media (max-width: 768px) {
  .main-header {
    overflow: hidden;
  }
  .center {
    width: 200px;
    height: 200px;
    margin-left: 70px;
  }
  .center-img {
    width: 120px;
    margin-right: -10px;
    margin-top: -30px;
  }

  .b1 {
    top: -17px;
    left: 5px;
  }
  .b2 {
    top: -53px;
    right: 32%;
  }
  .b3 {
    bottom: 0;
    right: 29%;
  }
  .b4 {
    bottom: 0;
    left: 0;
  }
  .b1,
  .b2,
  .b3,
  .b4 {
    height: 150px;
    width: 150px;
    background: none;
  }
  .bubble svg {
    opacity: 1;
  }

  .bubble:hover {
    transform: scale(1.5);
    height: 170px;
    width: 170px;
  }
  .bubble .heading {
    opacity: 1;
    font-size: 20px;
  }
  .bubble .h1 {
    left: 63%;
    top: 51px;
  }
  .bubble .h2 {
    right: -83%;
    top: 33%;
  }
  .bubble .h3 {
    right: -105%;
    top: 47%;
  }
  .bubble .h4 {
    left: 16%;
    top: 62%;
    width: 100px;
  }
  .s1 {
    width: 40px;
    height: 40px;
    top: -30px;
    left: 20px;
  }
  .s2 {
    width: 60px;
    height: 60px;
    top: 190px;
    left: 0;
    animation-delay: 1s;
  }
  .s3 {
    width: 20px;
    height: 20px;
    bottom: 60px;
    left: 160px;
    animation-delay: 2s;
  }
  .s4 {
    width: 70px;
    height: 70px;
    bottom: 33%;
    right: 30%;
    animation-delay: 3s;
  }
  .s5 {
    width: 50px;
    height: 50px;
    top: 20%;
    right: 33%;
    animation-delay: 1s;
  }

  .s7 {
    width: 50px;
    height: 50px;
    bottom: 0;
    right: 30%;
    animation-delay: 2s;
  }
  .s8 {
    width: 50px;
    height: 50px;
    left: 30%;
    top: -15%;
    animation-delay: 2s;
  }
  .header-h {
    font-size: 30px;
    width: 350px;
  }
}
