.stroke-marquee {
  overflow: hidden;
  background: #f7efe3;
  padding: 20px 0;
  margin-bottom: -60px;
  margin-top: -30px;
}
.stroke-marquee marquee {
  margin-left: -60px;
  width: 1250px;
}
.stroke-marquee h1 {
  display: inline;
  margin: 0;
  font-size: 80px;
  font-weight: 700;
  text-transform: uppercase;
  color: transparent;
  -webkit-text-stroke: 1.5px #b8745f;
  white-space: nowrap;
}

.projects-section {
  padding: 4rem 2rem;
}

.projects-container {
  margin: auto;
}

/* ================= SLIDER ================= */

.slider-wrapper {
  position: relative;
  overflow: hidden;
}

.slider-arrow {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background: transparent;
  border-radius: 50%;
  border: none;
  font-size: 2rem;
  cursor: pointer;
  z-index: 10;
  opacity: 0;
  transition: 0.3s;
}

.left-arrow {
  left: 10px;
}

.right-arrow {
  right: 10px;
}

.slider-arrow:hover {
  opacity: 1;
}

/* ================= SLIDER TRACK ================= */

.projects-slider {
  display: flex;
  gap: 2rem;
  overflow-x: hidden;
  scroll-behavior: smooth;
}

.projects-slider::-webkit-scrollbar {
  display: none;
}

/* ================= CARD ================= */

.project-card {
  position: relative;
  flex: 0 0 257px;
  background: #f9bf5d;
  height: 400px;
  border-radius: 26px;
  overflow: hidden;
  transition: all 0.35s ease;
  margin-top: 40px;
}

/* LEFT SIMPLE */
.project-card:hover {
  transform: scale(1.1);
  background: var(--highlight-bg);
}

/* ================= IMAGE ================= */

.project-mockup {
  height: 250px;
  padding: 1rem;
  position: relative;
}

.project-mockup img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* NDA BADGE */
.nda-badge {
  position: absolute;
  top: 18px;
  right: 18px;
  background: #8b3a2a;
  color: #fff;
  padding: 6px 14px;
  font-size: 0.8rem;
  border-radius: 20px;
  font-weight: 600;
  z-index: 2;
}

/* ================= INFO ================= */

.project-info {
  padding: 0 1.5rem;
  color: #7a3b00;
}

.hover-card .project-info {
  color: #1f3d1f;
}

.project-title {
  font-size: 1.4rem;
  font-weight: bold;
  margin-bottom: 0.4rem;
  transition: all 0.4s ease-in-out;
}
.project-card:hover .project-title {
  background: #8b3a2a;
  color: var(--bg-header);
}
.project-desc {
  font-size: 1rem;
  margin-bottom: 1rem;
}

.see-more {
  color: #8b4513;
  font-weight: 600;
  text-decoration: underline;
  position: absolute;
  bottom: 19px;
  right: 14px;
}

/* ========== FOOTER ============ */

.projects-footer {
  display: flex;
  justify-content: space-between;
  gap: 10px;
  align-items: center;
}
.footer-p {
  color: var(--text-link);
  width: 30%;
}
.footer-p h1 {
  font-size: 40px;
  font-weight: 900;
  line-height: 1;
}
.p-border {
  width: 40%;
  height: 1px;
  background: var(--text-logo);
  margin-top: 100px;
}
.p-para {
  width: 35%;
  display: flex;
  flex-direction: column;
  color: var(--text-link);
}
.p-para span {
  font-weight: 700;
}

/* ================= MOBILE ================= */

@media (max-width: 768px) {
  .stroke-marquee h1 {
    display: none;
  }
  .project-main {
    display: flex;
    flex-direction: column-reverse;
  }
  .project-card {
    flex: 0 0 280px;
  }

  .slider-arrow {
    opacity: 1;
  }

  .projects-slider {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 1rem;
  }
  .slider-arrow {
    display: none;
  }
  .projects-footer {
    display: flex;
    flex-direction: column;
  }

  .footer-p {
    margin-left: -45%;
    width: 50%;
  }
  .p-para {
    margin-left: 30%;
    margin-top: 30px;
    width: 80%;
  }
  .p-para span {
    text-align: right;
  }
  .p-border {
    width: 90%;
    position: absolute;
    top: -6%;
  }
}
